.App {
  text-align: center;
  background-color: #004680;
}


.center {
  z-index: 1000;
  position: relative;
  margin: auto;
  width: 50%;
  border: 20px solid #004680;
  padding: 10px;
  height: 100vh;
  background-color: #ffffff;
}